<!DOCTYPE html>
<html>
<head>
    <title>Моя веб-сторінка</title>
    <style>
        .footer {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- Решта вмісту сторінки -->

<div class="footer">
    <p>© 2023 Моя веб-сторінка. Усі права захищено.</p>
</div>
</body>
</html>
